
{% set postCounter = collections.post.length %}

<div aria-labelledby="posts">
    <h3 class="hidden" id="posts">posts:</h3>

  <ul>
     {%- for post in allPost | reverse %}

        <li class="flex flex-wrap pt-1 space-x-1 mt-1">

                <a class="text-white hover:underline" href="{{ post.url | url }}">
                    <span class="decoration-clone bg-black text-white p-1">#{{ postCounter }}</span>
                    <b class="decoration-clone bg-black text-white p-1">"{{ post.data.title }}"</b>
                </a>

                <time datetime="{{ post.date | dateToString }}">{{ post.date | readableDate }}</time>

           <div  aria-labelledby="tagList">
           <h3 class=" hidden " id="tagList">tagged with:</h3>
           <ul  class="flex space-x-1">

             {% for tag in post.data.tags | tagFilter('post') %}
                 <li class="underline tagged eleventyTag {% if page.url == "/" %} hidden sm:inline {% endif %}">
                     {% set tagUrl %}/tagged/{{ tag | slug }}/{% endset %}
                     <a href="{{ tagUrl | url }}">{{ tag }}</a>
                 </li>
             {% endfor %}
           </ul>
           </div>
         </li>

    {% set postCounter = postCounter - 1 %}
    {%- endfor %}
   </ul>
</div>
