---
layout: layouts/page
title: about
eleventyNavigation:
  key: about
  order: 3
---

I think I know what this is about now. Now as in the 14 July 2021. I am going to
keep it as a online journal charting how I do in the world of programming and
all that. Why the Dyslexior part I hear you ask. Dyslexior well I think that his
role will adapt and shift as this thing progress but I want to dub him an
idiomythological entity that is my nemesis. Okay so simply put the premiss here
is I am dyslexic I am thinking of taking a carer change into computing and I am
wondering is that going to be a strange and difficult mix. My aim being that if
I am successful in my attempt that I could be of some help or encouragement to
others in a similar boat and if I am unsuccessful well then hopefully I can
produce something that has entertainment value.
