---
layout: layouts/home
title: Ewan Vs Dyslexior
eleventyNavigation:
  key: home
  order: 1
---
<!-- <h1 class="text-6xl">EwanVsDyslexior</h1> -->

<!--
<div class="m-auto bg-black">
{% image "selfPortraitEvD.jpg", "self portrait 2b pencil"%}
</div>
-->

<h2 class="inline text-2xl">Welcome to the Alpha stage of this site<h2>

<p class="p-2">
Hi, other than a blog with music and art, I am not sure exactly what I am doing
with this site. The about page helps by pointing in a general direction, however I am
finding out for myself as I go along. Maybe I will be able to tell you after the
next post. There are some posts below that you can help yourself too in the mean
time.
</p>

<!-- {% image "Snapshot.png", "self portrait" %}  -->

    <h2 class="inline text-2xl">The latest posts are:</h2>
        {% set allPost = collections.post | top(3) %}
        {% include "postsList.njk" %}

    <!--<p class="pt-2">Find the rest of them in the <a class="classicLink" href="{{ '/archive/' | url }}">vault.</a></p>
</div> -->
