---
layout: layouts/home
title: Ewan Vs Dyslexior
eleventyNavigation:
  key: home
  order: 1
---
<!-- <h1 class="text-6xl">EwanVsDyslexior</h1> -->

<!--
<div class="m-auto bg-black">
{% image "selfPortraitEvD.jpg", "self portrait 2b pencil"%}
</div>
-->

    <h2 class="inline text-2xl">The latest posts are:</h2>
        {% set allPost = collections.post | top(3) %}
        {% include "postsList.njk" %}

    <!--<p class="pt-2">Find the rest of them in the <a class="classicLink" href="{{ '/archive/' | url }}">vault.</a></p>
</div> -->
